*.o

src/sim/simulation_test

# Keil IDE Files
*/*.axf
*/*.htm
*/*.map
*/*.dep
*/*.Kitten
*/*.d
*.scvd
*/Flash/*.*
*/samples/
*.s
*/*.ini
*.uvgui*
*.uvopt
*.uvproj
Objects/
Listings/

# LaTex
*.aux
*.ist
*.lof
*.lol
*.glo
*.acn
*.nav
*.log
*.out
*.synctex.gz
*.toc
*.lot
*.snm
*.out
*.cb
*.cb2
paper/document.pdf
# BibTex
*.bbl
*.blg

# Mac
.DS_Store
.com.apple.timemachine.supported
